<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="!default">
        <property name="LOG_FILE" value="${java.io.tmpdir:-/tmp}/${appName}.log"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <logger name="com.example.catalogservice" level="DEBUG"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.transaction" level="DEBUG" />
    <logger name="org.springframework.kafka.transaction" level="DEBUG" />
    <logger name="org.apache.kafka.clients.Metadata" level="WARN" />

</configuration>
