<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="!default">
        <property name="LOG_FILE" value="logs/${appName}.log"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <logger name="com.example.api.gateway" level="DEBUG"/>
    <logger name="org.springframework.security" level="TRACE"/>
    <logger name="reactor.netty" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure.web" level="INFO"/>
    <logger name="org.springframework.web.reactive" level="INFO"/>
    <logger name="org.springframework.http.server.reactive" level="INFO"/>
    <logger name="org.springframework.cloud.gateway" level="INFO"/>

</configuration>
