<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <!-- Security: neutralize CR/LF and other injection sequences in log messages -->
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %replace(%msg){'[\\r]+','_'}%n"/>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="!default">
        <property name="LOG_FILE" value="${java.io.tmpdir:-/tmp}/logs/${appName}.log"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <logger name="com.example.api.gateway" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="reactor.netty" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure.web" level="INFO"/>
    <logger name="org.springframework.web.reactive" level="INFO"/>
    <logger name="org.springframework.http.server.reactive" level="INFO"/>
    <logger name="org.springframework.cloud.gateway" level="INFO"/>

</configuration>
