<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div th:x-data="|initData('${pageNo}')|">
        Available Inventory
        <br/>
        <div th:replace="~{fragments/inventoryPagination :: pagination}"> </div>
        <div class="row row-cols-1 row-cols-md-5">
            <template x-for="inventory in catalogs.data">
                <div class="col mb-3">
                    <div class="card h-100 inventory">
                        <form class="row g-3" @submit.prevent="updateInventory(inventory)">
                            <div class="card-body">
                                <h5 class="card-title"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    x-text="inventory.productCode">inventory.productCode</h5>
                                <label for="availableQuantity" class="form-label">Available Quantity</label>
                                <input type="number" min="1" class="form-control"
                                       id="availableQuantity"
                                       name="availableQuantity"
                                       x-model="inventory.availableQuantity"
                                       value=""/>
                            </div>
                            <div class="card-footer" style="background: transparent; border-top: 0;">
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
<div layout:fragment="pageScripts">
    <script src="/js/inventory.js"></script>
</div>
</body>
</html>
