<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <appender name="OpenTelemetry" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <mdcAttributesIncluded>traceId,spanId</mdcAttributesIncluded>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="OpenTelemetry" />
    </root>

    <logger name="com.example.configserver" level="DEBUG"/>
    <logger name="org.springframework.security" level="INFO"/>
</configuration>
