name: End-to-End Tests (Manual)
on:
  workflow_dispatch: # Only allow manual triggering of the workflow

jobs:
  e2e-tests:
    name: Run End-to-End Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
          
      - name: Run End to End Tests
        run: ./test-em-all.sh --detailed-logs start stop
