name: SonarCloud
on:
  push:
    branches:
      - main
    paths-ignore:
      - ReadMe.md
      - docker-compose-tools.yml
      - .github/**
      - config/**
      - gatling-tests/**
      - run.sh
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'microsoft' # Alternative distribution options are available.
          cache: 'maven'

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Create and populate ~/.testcontainers.properties
        run: |
          cat <<EOF > ~/.testcontainers.properties
          testcontainers.reuse.enable=true
          EOF

          echo "cat ~/.testcontainers.properties"
          cat ~/.testcontainers.properties

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./mvnw -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=rajadilipkolli_spring-boot-microservices-series-v2
        
      - name: Run End to End Tests
        run: ./test-em-all.sh start stop
